// Config SCSS
@import "./config/_variable";
@import "./config/_reset";

// Components SCSS
@import "./components/header.scss";
@import "./components/footer.scss";
@import "./components/video.scss";

// Screens SCSS
@import "./screens/home.scss";

main {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-top: 40px;
}
