extends base.pug
include mixins/video

block content
  div.home_videos
    each video in videos
      +video(video)
      +video(video)
      +video(video)
      +video(video)
      +video(video)
      +video(video)
      +video(video)
      +video(video)
      +video(video)
      +video(video)
      +video(video)
      +video(video)
      +video(video)
      +video(video)
      +video(video)
      +video(video)
    else 
      li Sorry Nothing Found.