/*!*********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/client/scss/style.scss ***!
  \*********************************************************************************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

header {
  padding: 10px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header_logo {
  color: #dc143c;
  font-size: 4rem;
}
header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
header nav ul li {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
}

body {
  background: #000;
  color: #fff;
}
